
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.pagesec{
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap: 70px;
    

}
.pageimg{
    width: 250px;
    height: 300px;
   
}
.pageimg img{
    width: 100%;

}
.mob{
    // width: 70%;
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 20px;
}
.pro-selec{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:80px;
    // align-items: center;
    padding: 10px;
    // border: 2px solid black;
}
