.prosec{
    display: flex;
}
.imgbox{
    width: 80%;
    padding-left: 50px;
}
.proimg{
    // width: 120px;
    // height: 200px;
    width: 100%;
    padding: 20px;
}
body{
    background-color: aliceblue;

}
.prohead{
    margin: 20px;
    // text-align: center;
}